@keyframes blink {
	from { opacity: 1; }
	to { opacity: 0; }
}

body {
    background-color: #1f1f28;
}
.center {
    position: fixed;
    inset: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
    border-radius: 30px;
    border-width: 3px;
    border-style: solid;
    border-color: #dcd7ba;
    padding: 50px;
}

.center p {
    color: wheat;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.searchbutton {
    background-color: unset;
    border: none;
}


.search {
    height: 40px;
    width: 35dvw;
    border-radius: 5dvh;
    background: hsl(0, 0%, 30%) url("../images/google.png") 16px center no-repeat;
    border-width: 3px;
    border-style: dashed;
    border-color: #dcd7ba;
    font-size: 2.5vh;
    padding-left: 55px;
}

.search::placeholder {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}

.search:focus {
    outline: none;
    border-style: solid;
}


.inline {
    display: inline;
}

.blink {
    animation-name: blink;
	animation-duration: 800ms;
	animation-iteration-count: infinite;
	opacity: 1;
    font-size: 2.5vh;
}

.clock {
    text-align: center;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

.date {
    margin-bottom: 15px;
    margin-top: 0;
    text-align: center;
    font-size: 15px;
    font-weight: 200;
}

.favorites {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    justify-content: space-between;
}




.favinput {
    border-radius: 5dvh;
    background-color: hsl(0, 0%, 30%);
    border-width: 2px;
    border-style: solid;
    border-color: #dcd7ba;
    font-size: 2.5vh;
    margin: 10px;
    padding: 5px;
    padding-left: 1dvw;
}

.favinput::placeholder {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}

.buttons {
    width: 100%;
    border-radius: 5dvh;
    background-color: hsl(0, 0%, 30%);
    border-width: 2px;
    border-style: solid;
    border-color: #dcd7ba;
    color: wheat;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    margin-top: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    transition: background-color 0.25s ease;
}

.buttons:hover {
    background-color: hsl(0, 0%, 40%);
    transition: background-color 0.25s ease;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    width: 100%;
}

.favbox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 30%);
    width: fit-content;
    height: fit-content;
    width: 55px;
    height: 55px;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #dcd7ba;
    transition: background-color 0.25s ease;
    anchor-name: --favbox;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
}
.favbox:hover {
    background-color: hsl(0, 0%, 40%);
    transition: background-color 0.25s ease;
}

.addfavorite {
    background-color: hsl(0, 0%, 30%);
    width: fit-content;
    height: fit-content;
    justify-self: center;
    grid-column: 2;
    background-image: none;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #dcd7ba;
    transition: background-color 0.25s ease;
}

.addfavorite:hover {
    background-color: hsl(0, 0%, 40%);
    transition: background-color 0.25s ease;
}

.favtext {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    justify-self: center;
}
.favorite {
    width: fit-content;
}